##########################
## OS X
##########################
.DS_Store

##########################
## IntelliJ
##########################
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/
gen/
build/
build.properties
junit*.properties
IgnoreLexer.java~
.gradle
target/
*.class
dynamicscrmapi/.classpath
dynamicscrmapi/.project
*.prefs
dynamicscrmapi/.factorypath
